.grocery-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); */
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
}
.loading {
  display: flex;
}
.loading-icon {
  margin: 0 auto;
  animation: spin 1s linear infinite;
}
.snackbar {
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
