.catigories-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}
.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
.catigories-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.loading {
  display: flex;
}
.loading-icon {
  margin: 0 auto;
  animation: spin 1s linear infinite;
}
.snackbar {
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
