@import "tailwindcss";
.navbar {
  font-size: 10px;
}
/* top Nav Bar */
.location {
  display: flex;
  align-items: center;
  font-size: 7px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top {
  border-bottom: 1px solid #e0e0e0;
}
.location {
  font-size: 15px;
}
.location .icon {
  width: 20px;
}
.login {
  display: flex;
  align-items: center;
}
.login .avatar {
  width: 30px;
  height: 30px;
  cursor: pointer;
} 
.login button {
  font-size: 15px;
}
/* mid Nav Bar */
.mid {
  padding-block: 10px;
}
.mid .logo {
  display: flex;
  font-size: 18px;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
.mid .logo img {
  width: 20px;
}
.mid .search {
  display: flex;
  align-items: center;
  position: relative;
}
.mid .search .search-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  width: 10px;
  transform: translateY(-50%);
  width: 15px;
}

.mid .search .search-input {
  height: 32px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 8px 0 32px;
  outline: none;
  width: 280px;
  font-size: 15px;
}
.mid .search .search-button {
  font-size: 10px;
  height: 32px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 50px;
}
.mid .icons .icon {
  font-size: 30px;
  cursor: pointer;
}
.mid .icons .shop-icon {
  position: relative;
  cursor: pointer;
}
.mid .icons .shop-icon::after {
  position: absolute;
  top: -5px;
  right: -1px;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.8em;
  background-color: #00b207;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.cart-badge {
  position: absolute;
  text-align: center;
  top: -8px;
  right: -5px;
  background-color: #00b207;
  padding: 3px;
  border-radius: 50%;
  color: white;
  width: 21px;
  font-size: 11px;
}
.mid .icons .shop-icon:hover::after {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
/* bottom Nav Bar */
.bottom {
  display: flex;
  justify-content: start;
  align-items: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.bottom button {
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  transition: 0.3s;
}
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}
.bottom button:hover {
  color: #000;
}
.toggle-section {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.icons-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.language-icon {
  padding-inline: 7px;
  padding-block: 3px;
  border-radius: 6px;
  cursor: pointer;
}
.language-dropdown{
  position: absolute;

  min-width: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
}
/* Responsive Design */
@media (max-width: 1024px) {
  .mid .search .search-input {
    width: 200px;
  }
  .mid .icons .icon {
    font-size: 25px;
  }
  .container {
    padding: 0.5rem 5rem;
  }
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    align-items: center;
  }
  .mid .search {
    width: 100%;
    justify-content: center;
  }
  .mid .search .search-input {
    width: 100%;
    max-width: 250px;
  }
  .mid .search .search-icon{
    display: none;
  }
  .mid .icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
  }
  .bottom {
    flex-direction: column;
    align-items: center;
  }
  .container {
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    font-size: 8px;
  }
  .location {
    font-size: 12px;
  }
  .mid .logo {
    font-size: 14px;
  }
  .mid .search .search-input {
    width: 100%;
    max-width: 200px;
  }
  .mid .icons .icon {
    font-size: 20px;
  }
  .bottom{
    text-align: center;
  }
  .bottom button {
    font-size: 12px;
    padding: 0 8px;
  }
  .container {
    padding: 0.5rem 1rem;
  }
}
