.footer {
  background-color: #f9f9f9;
  padding-block: 1.5rem;
}
.footer .subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  gap: 2rem;
}
.footer .subscribe .subscribe-heading {
  width: 319px;
}
.footer .subscribe .subscribe-heading h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer .subscribe .subscribe-heading p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.footer .subscribe .subscribe-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer .subscribe input[type="email"] {
  width: 300px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 30px 0 0 30px;
  outline: none;
  font-size: 1rem;
}

.footer .subscribe button {
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  transform: translateX(-35px);
}

.footer .subscribe button:hover {
  background-color: #009624;
}
.subscribe-form-input {
  display: flex;
  align-items: center;
}

.footer .subscribe .social-icons {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.footer .subscribe .social-icons .icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 30px;
}
.footer .subscribe .social-icons .icon:hover {
  transform: scale(1.2);
  color: #009624 !important ;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  border-bottom: 1px solid #ddd;
}
.main-footer .footer-heading .footer-logo {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 5px;
}
.main-footer .footer-heading .footer-logo img {
  width: 30px;
  height: 30px;
}
.main-footer .footer-heading .footer-logo h2 {
  font-size: 1rem;
  font-weight: bold;
}
.main-footer .footer-heading .footer-description {
  font-size: 1rem;
  width: 400px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.main-footer .footer-heading .contact {
  display: flex;
  align-items: baseline;
  justify-content: start;
  gap: 10px;
}
.main-footer .footer-heading .contact p {
  margin-bottom: 15px;
  border-bottom: 2px solid #009624;
}
.main-footer .footer-list {
  display: flex;
  gap: 5rem;
  padding: 20px;
  flex-wrap: wrap;
}
.main-footer .footer-list .list h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-footer .footer-list ul {
  list-style: none;
}
.main-footer .footer-list ul li {
  margin-bottom: 10px;
  cursor: pointer;
}
.main-footer .footer-list ul li:hover {
  color: #009624 !important;
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.bottom-footer img {
  width: 300px;
}
