@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  background-color: #242729;
  color: white;
}
  body {
    font-family: 'Cairo', sans-serif;
  }
  h1, h2, h3 {
  font-family: 'Cairo', sans-serif;
}